Source: ipsvd
Section: net
Priority: optional
Maintainer: Gerrit Pape <pape@smarden.org>
Build-Depends: libdjbdns-dev, debhelper (>> 4.0.0)
Standards-Version: 3.5.8

Package: ipsvd
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Description: Internet Protocol Service Daemons
 tcpsvd, udpsvd.
