#!/usr/bin/make -f

STRIP =strip
ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  STRIP =: nostrip
endif

CFLAGS =-g -O2 -Wall
LDFLAGS =-Os
CC =gcc
ifneq (,$(findstring diet,$(DEB_BUILD_OPTIONS)))
  CC =diet -v -Os gcc -nostdinc
endif

DIR =$(shell pwd)/debian/ipsvd

unpack: deb-checkdir unpack-stamp
unpack-stamp:
	tar xzf ipsvd-0.11.1.tar.gz
	ln -s ipsvd-0.11.1 net/ipsvd
	echo '$(CC) $(CFLAGS)' >net/ipsvd/src/conf-cc
	echo '$(CC) $(LDFLAGS)' >net/ipsvd/src/conf-ld
	touch unpack-stamp

build: deb-checkdir build-stamp
build-stamp: unpack-stamp
	-gcc -v
	$(MAKE) -Cnet/ipsvd/src default check
	if test -r /usr/include/matrixSsl.h; then \
	  (cd net/ipsvd/src && \
	  ./compile sslio.c && ./compile sslerror_str.c && \
	  ./load sslio uidgid.o sslerror_str.o unix.a byte.a time.a -lmatrixssl && \
	  ./check-local sslio); \
	fi
	touch build-stamp

clean: deb-checkdir deb-checkuid
	rm -rf net
	rm -f unpack-stamp build-stamp
	rm -rf '$(DIR)'
	rm -f debian/files debian/substvars changelog

install: deb-checkdir deb-checkuid build-stamp
	rm -rf '$(DIR)'
	# programs
	install -d -m0755 '$(DIR)'/usr/bin
	for i in tcpsvd udpsvd ipsvd-cdb; do \
	  install -m0755 net/ipsvd/src/$$i '$(DIR)'/usr/bin/ || exit 1; \
	done
	test ! -x net/ipsvd/src/sslio || \
	  install -m0755 net/ipsvd/src/sslio '$(DIR)'/usr/bin/
	$(STRIP) -R .comment -R .note '$(DIR)'/usr/bin/*
	# man pages
	for i in 5 7 8; do \
	  install -d -m0755 '$(DIR)'/usr/share/man/man$$i && \
	  for j in net/ipsvd/man/*.$$i; do \
	    install -m0644 $$j '$(DIR)'/usr/share/man/man$$i/ || exit 1; \
	  done || exit 1; \
	done
	gzip -9 '$(DIR)'/usr/share/man/man?/*.?
	# changelog
	rm -f changelog && ln -s net/ipsvd/package/CHANGES changelog

binary-indep:

binary-arch: install ipsvd.deb
	test '$(CC)' != 'gcc' || dpkg-shlibdeps '$(DIR)'/usr/bin/*
	dpkg-gencontrol -isp -pipsvd -P'$(DIR)'
	dpkg -b '$(DIR)' ..

binary: binary-indep binary-arch
.PHONY: unpack build clean install binary-indep binary-arch binary

include debian/implicit
