#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#CFLAGS = -Wall -g

#ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
#	CFLAGS += -O0
#else
#	CFLAGS += -O2
#endif
#ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
#	INSTALL_PROGRAM += -s
#endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	tar xfzp ipsvd-0.6.0.tar.gz
	( \
	set -e; \
	cd net/ipsvd-0.6.0/src; \
	ln -s ipsvd-0.6.0 ipsvd; mv ipsvd ../..; \
	echo '/usr/include/djbdns' >conf-djbdnsinc; \
	$(MAKE); \
	)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	rm -rf net

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	for i in tcpsvd udpsvd ipsvd-cdb; do \
	  install -m0755 net/ipsvd/src/$$i $(CURDIR)/debian/ipsvd/usr/bin/; \
	done

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs net/ipsvd/package/CHANGES
	dh_installdocs
#	dh_installexamples
#	dh_installdebconf	
	dh_installman net/ipsvd/man/*.[875]
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
