usage: udpsvd [-hpv] [-u user] [-l name] [-i dir|-x cdb] [-t sec] host port prog

111
$Id: 0e5b5730664486bb544618261c8a945004e40bac $
usage: udpsvd [-hpv] [-u user] [-l name] [-i dir|-x cdb] [-t sec] host port prog

111
foo
bar
0
